* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: black;
  --gray-color: gray;
  --brand-color: #172337;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: #ffffff;
  --gray-color: #cccccc;
  --brand-color: #cccccc;
}

.listingBlock {
  background-color: #e8e8e8;
}
.filterListBlock {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  margin: 7% 1% 5% 1%;
  padding: 5%;
}
.filterBlock {
  width: 100%;
  text-align: start;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 2.5;
  border-bottom: 0.5px solid blue;
}
.filterName {
  font-weight: bold;
  color: #2874f0;
  text-transform: capitalize;
}
