* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: black;
  --gray-color: gray;
  --brand-color: #172337;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: #ffffff;
  --gray-color: #cccccc;
  --brand-color: #cccccc;
}

/* listng page */

.listBlock {
  display: flex;
  flex-wrap: wrap;
}

.productBlock {
  width: 320px;
  height: auto;
  padding: 1%;
  margin: 1.5%;
  background-color: var(--primary-color);
  box-sizing: border-box;
  box-shadow: 6px 7px 10px gray;
}
.imgBlock {
  text-align: center;
  width: 100%;
  height: 400px;
}
.imgBlock img {
  width: 100%;
  height: 100%;
}

.descBlock {
  line-height: 1.8;
  font-size: 16px;
  padding: 1%;
}
.brandName {
  color: var(--brand-color);
  font-weight: bold;
}
.productName {
  color: var(--secondary-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productDescBlock {
  text-align: start;
}
.productCost {
  font-weight: bold;
  color: var(--secondary-color);
}
.productActualCost {
  color: gray;
  margin-left: 3%;
}
.productOffer {
  color: green;
  margin-left: 3%;
}

/* media query */
@media screen and (max-width: 1024px) {
  .listBlock {
    justify-content: center;
  }
}
